/*general*/




/*header*/

.contact-header{
    background: url("../img/rectangle10.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.contact-h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 15%;
    left: 10%;
    margin: auto;
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.contact-h1::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #FFFFFF;
    bottom: 15px;
    margin-left: 20px;
}



.icon-content-header-contact{
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-header-text{
   
}

.icon-header-contact{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    color: #02558B!important;
}


.contact-text{
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
}

.container-contact{
    margin-top: -20vh;
}

/*map*/

.container-map{
    height: max-content;
}

.map-contact{
    position: relative;
    z-index: 4;
    margin-bottom: 110px;
    /* width: 78%; */
    margin-left: auto;
    margin-right: auto;
}

.adress-container{
    background-color: #2470A1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 72px 10px 10px 10px;
}

#horizontale-contact-circles{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 160px;
}

/* contact form */

.contact-form{
    margin-top: 16vh;
    padding: 3% 5%;
}

.input-contact{
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right:0 ;
    margin: 10px 0px 10px 0px;
    position: relative;
    width: 100%;
}

.empty-input{
    margin: 10px 0px 10px 0px;
}

.required::after{
    content: "*";
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    
}

.input-contact::placeholder{
    padding: 2px 0px;

}

.textarea-contact{
    height: 50vh;
}

#submit{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 200px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 28px;
    color: #02558B;
    background: #FFFFFF;
    margin: 20px 0;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 15%);
}

/*mobile*/

.map-contact-mobile{
    position: relative;
    z-index: 4;
    margin-bottom: 110px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}


.map-contact-mobile{
    display: none;
}

.contact-text-mobile{
    display: none;
}

/*responsive */

@media (max-width: 992px){


    .container-contact{
        margin-top: -5vh;
    }

    .contact-text{
        display: none;
    }

    .map-contact{
        display: none;
    }

    .map-contact-mobile{
        display: block;
    }

    .contact-text{
        display: none;
    }

    .contact-text-mobile{
        display: block;
    }

    .contact-form{
        margin-top: 3vh;
        padding: 3% 5%;
    }

    #horizontale-contact-circles{
        position: absolute;
        right: initial;
        top: initial;
        z-index: 1;
        left: 0;
        bottom: 0;
        margin:  initial;
        height: 160px;
    }
    
}