/*genenal*/

.title-blue{
    color: #02558B;
}

.vertical-point-content{
    position: absolute;
}

.horizontale-point-content{
    position: absolute;
}

.round-red{
    width: 8px;
    height: 8px;
    background: #FF636A;
    border-radius: 50%;
    margin: 4px;
}




/* header */

.home-header{
    background: url("../img/rectangle7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 449px;
}

.home-h1{
    position: absolute;
    top: 23%;
    bottom: 0;
    right: 15%;
    color: #313E47;
    margin: auto;
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-table;
}

.home-h1::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #FFFFFF;
    bottom: 15px;
    margin-left: 20px;
}

.icon-content-header-home{
    position: absolute;
    font-size: 39px;
    left: 1vw;
    display: grid;
    bottom: 6vh;
}

.icon-header-home{
    color: #02558B!important;
    margin: 5px 10px;
}



/* video */
#header_homepage{
    margin-bottom: 3vh;
}

.video-home{
    z-index: 2;
    margin-top: -6vh;
    width: 100%;
    height: 50vh;
    background-color: black;
    filter: drop-shadow(0px 11px 52px rgba(0, 0, 0, 0.2));
}

.image-home {
    background-color: #e2e2e285;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 2;
    margin-top: -5vh;
    width: 100%;
    height: 57vh;
    filter: drop-shadow(0px 11px 52px rgba(0, 0, 0, 0.2));
}


#vertical-video-circles{
    left: 88%;
    bottom: 0;
}

#horizontale-video-circles{
    right: -50px;
    bottom: -50px;
}

/*heder text*/

.header-text, .header-text p {
    color: #2B465A;
    margin: 11vh auto;
    font-size: 27px;
    width: 65%;
    line-height: 34px;
    text-align: justify;
    font-weight: bold;
}


/*innovation*/
#inovation_homepage{
    margin: 0 0 12vh 0;
    padding-left:8vw;
    min-height: 400px;
}

.home-innovation-content{
    padding-top: 8vh;
}

.home-h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #02558B;
    position: relative;
    
}


#home-innovation_title {
    margin-right: 14vw;
    margin-bottom: 3vh;
    text-align: right;
}

.innovation-content{
    margin-top: 11vh;
}

#home-innovation_title::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: 20px;
}

.home-innovation-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7vh;
    width: 90%;
}

.blue-square-content{
    width: 400px;
    position: absolute;
    right: 0;
    height: 400px;
}


.blue-square{
    z-index: 2;
    position: absolute;
    width: 400px;
    height: 400px;
    background: #9CDAEA;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    right: 0px;
}

#home-innovation-circles{
    right: 291px;
    bottom: -49px;
}

/* number */

.number{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    color: #FF636A;
    line-height: 75px;
    border-bottom: 2px #FF636A solid;
    width: max-content;
    margin: auto;
}

.number-text{
    font-family: 'Roboto' , sans-serif;
    padding-top: 1vh;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;

    color: #2B465A;
}


/* About Us*/

#about_homepage{
    margin-bottom: 11vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

#home-aboutUs{
    margin-top: 10vh;
    margin-left: 8vw;
    margin-bottom: 3vh;
    padding-right: 2.5vw;
}

#home-aboutUs::before{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: -144px;
}

.bouton{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 214px;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 52.4px;
    color: #02558B;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15)
}


.bouton:hover{
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3)
}

/* Product */



.product-home-img{
    position: relative;
    z-index: 2;
    border-top: solid 16px #9CDAEA;
    filter: drop-shadow(0px 11px 52px rgba(0, 0, 0, 0.2));
}

#home-product-circles{
    right: -51px;
    top: -51px;
}

.product-home-content{
    padding-top: 5vh;
}

#home-product-title{
    padding-left: 11vw;
}

#home-product-title::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: 20px;
}


#home-product-title-mobile::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: 20px;
}

.home-product-content{
    margin-left: 2vw;
    margin-top: 6vh;
    margin-right: 6vw;
}

.home-product-text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #2B465A;
}

.home-product-frame{
    width: 132.49px;
    height: 148.82px;
    margin-left: 4vw;
    margin-right: 0vw;
}

.home-product-bouton{
    margin: auto;
    margin-top: 5vh;
    width: max-content;
    margin-bottom: 5vh;
}


/* mobile */

.header-home-text-container-mobile{
    display: none;
}

#number_homepage_mobile{
    display: none;
}

.icon-content-home-mobile{
    display: none ;
}

.bouton-aboutus-home-mobile{
    display: none;
    width: max-content;
    margin: auto;
}

.product-home-content-mobile{
    display: none;
}

#home-product-title-mobile{
    display: none;
    margin-bottom: 5vh;
    margin-left: 5vw;
}



/* responsive */

@media (max-width: 1122px){
    #horizontale-video-circles {
        right: -50px;
        bottom: -50px;
    }

}

@media (max-width: 1064px){
    .home-h1 {
        right: 5%;
    }

}


@media (max-width: 1031px){
    #horizontale-video-circles {
        right: -50px;
        bottom: -50px;
    }
    
}

@media (max-width: 992px){

    .home-h1 {
        right: 0;
        left: 2vw;
        font-size: 40px;
    }

    .home-h2 {
        font-size: 50px;
    }

    .image-home {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        z-index: 2;
        margin-top: 0vh;
        width: 100%;
        height: 45vh;
        filter: drop-shadow(0px 11px 52px rgba(0, 0, 0, 0.2));
    }

    .video-home {
        margin-top: 0vh;
    }

    .innovation-content {
        margin-top: 0vh;
    }
    

    .header-home-text-container{
        display: none;
    }

    .header-home-text-container-mobile{
        display: block;
    }

    .icon-content-header-home {
        display: none;
    }

    .icon-content-home-mobile {
        display: block;
        position: absolute;
        right: 0;
        bottom: -45px;
        font-size: 23px;
    }

    .home-header {
        height: 28vh;
    }

    #horizontale-video-circles {
        right: 0;
        left: 0;
        bottom: -50px;
        margin: 0 auto;
        width: max-content;
    }

    .blue-square-content{
        display: none;
    }

    #inovation_homepage {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    #home-innovation_title {
        margin-right: 8vw;
        margin-bottom: 3vh;
        text-align: left;
    }

    .home-innovation-text p{
        text-align: justify;
        padding-right: 2px;
    }

    #home-innovation_title {
        margin-left: 0;
    }

    #home-innovation_title::after {
        width: 25vw;
    }

    #number_homepage{
        display: none;
    }

    #number_homepage_mobile{
        display: block;
    } 

    .aboutus-home-img{
        width: 100%;
        margin-top: 19vh;
    }

    .bouton-aboutus-home {
        display: none;
    }

    .bouton-aboutus-home-mobile{
        display: block;
    }

    .product-home-content{
        display: none;
    }

    .product-home-content-mobile{
        display: block;
    }

    #home-product-title{
        display: none;
    }

    #home-product-title-mobile{
        display: block;
    }

    .home-product-text p{
        width: 65%;
        text-align: justify;
    }

    .home-product-frame {
        width: 74.49px;
        height: 72.82px;
        margin-left: 1vw;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .product-home-img-container{
        width: 76%!important;
    }

    #home-product-circles {
        right: -51px;
        top: inherit;
        bottom: -51px;
    }

    .home-product-content {
        margin-left: 4vw;
        margin-top: 10vh;
        margin-right: 6vw;
        margin-bottom: 5vh;
    }

    .home-product-bouton {
        width: max-content;;
        /* margin: auto; */
        margin-left: 6vw;
        margin-top: 0vh;
        margin-bottom: 5vh;
    }

}

@media (max-width: 768px){

    .home-product-text p {
        width: 65%;
        text-align: justify;
        margin-right: 8vw;
    }

    .home-product-text{
        margin-top: 5vh;
    }
}

@media (max-width: 574px){


    .home-header {
        height: 28vh;
    }

    #inovation_homepage {
        margin: 6vh 4vw 0vh 3vw;
    }

    .home-h1 {
        top: 26%;
        font-size: 30px;
        bottom: 0;
        margin: auto;
        left: 2.5vw;
        right: 0;
    }

    .icon-content-header-home {
        display: none;
    }

    
    
    #frame-mobile-home{
        display: block;
    }

    #inovation_homepage {
        margin: 9vh 4vw 0vh 4vw;
    }

    #home-aboutUs {
        margin-top: 6vh;
        margin-left: 0vw;
        margin-bottom: 3vh;
        padding-right: 2.5vw;
        width: 100%;
        text-align: right;
    }

    .aboutus-home-img{
        display: none;
    }

    .number{
        font-size: 47px;
    }

    .number-text{
        font-size:14px;
    }

    #home-innovation_title::after {
        width: 50px;
    }

    #home-product-title-mobile::after {
        width: 50px;
    }

    .home-product-content {
        margin-top: 6vh;
        margin-bottom: 2vh;
    }

    .home-product-text p {
        margin-bottom: 4vh;
        margin-left: 4vw;
    }
}

@media (max-width: 480px){

    .home-h2 {
        font-size: 39px;
        line-height: 47px;
    }

    .image-home {
        height: 236px;
    }
}


@media (max-width: 400px){
    .home-product-text p {
        margin-top: 3vh;
        width: 61%;
        text-align: justify;
        margin-right: 20px;
        margin-left: 20px;
    }
    
}