.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
}

body, html{
    overflow-x: hidden!important;
}


/* font */

p{
    color: #2B465A;
}

a, p, h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}

/* */
.logo-application{
    width: 50px;
    height: 50px;
    margin: 10% auto;
}
/* header */


.nav-link{
    padding: 0.5rem 1.3rem!important;
}


/* footer */

footer{
    background: #2470A2;
    box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.footer-logo{
    padding-left: 3vw;
}

.footer-contact{
    margin-top: -18px;
    padding-left: 5vw;
    margin-bottom: 10px;
}

.footer-legale{
    height: max-content;
    position: absolute;
    right: 5vw;
    bottom: 0;
    top: 26%;
    margin: auto 0;
}

.footer-legale p, .footer-legale a{
    text-align: right;
    color: white!important;
    margin-bottom: 0!important;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    
}

/* ----- social icon */

.social-button-container{
    width: 50px;
    height: 50px;
    position: relative;
}


/*telephone*/

.slider-social-tel{
    content:"";
    position: absolute;
    top: 0;
    left: 54px;
    width: 0px;
    height: 50px;
    background: #2470A2;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
}

.slider-social-tel p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
}

.social-button-container:hover .slider-social-tel {
    width: 180px;
    transition: all 0.5s ease;
    
}

.social-button-container:hover .slider-social-tel p {
    opacity: 1;
    transition: all 1s 0.2s ease;
}

/* mail */
.slider-social-mail{
    content:"";
    position: absolute;
    top: 0;
    left: 54px;
    width: 0px;
    height: 50px;
    background: #2470A2;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
}

.slider-social-mail p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
}

.social-button-container:hover .slider-social-mail {
    width: 300px;
    transition: all 0.5s ease;
    
}

.social-button-container:hover .slider-social-mail p {
    opacity: 1;
    transition: all 1s 0.2s ease;
}

/* tel-contact */

.slider-social-tel-contact{
    content:"";
    position: absolute;
    top: 0;
    right: 54px;
    width: 0px;
    height: 50px;
    background: #2470A2;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
}

.slider-social-tel-contact p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
}

.social-button-container:hover .slider-social-tel-contact {
    width: 180px;
    transition: all 0.5s ease;
    
}

.social-button-container:hover .slider-social-tel-contact p {
    opacity: 1;
    transition: all 1s 0.2s ease;
}


/* responsive */


@media (max-width: 992px){
    .footer-legale{
        right: 0;
        left: 0;
        top: 26%;
        margin: auto 0;
        padding-left: 5vw!important;
        padding-bottom: 2vh;
    }

    .footer-legale p, .footer-legale a{
        text-align: left;
        
    }

    .footer-contact{
        padding-left: 9vw;
    }
    
    .footer-legale{
        padding-left: 9vw!important;
    }
    
}


@media (max-width: 500px){
    .footer-contact{
        padding-left: 8vw;
    }
    

    .footer-legale{
        padding-left: 8vw!important;
    }
    
}