.menu-content{
    height: 100px;
}

.menu-laptop{
    right: 2%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;
}

.nav-link{
    height: fit-content;
    font-size: 24px;
    color: black!important;
    height: max-content;
    margin: auto;
}

.nav-link:hover{
    height: fit-content;
    font-size: 24px;
    color: #2B465A!important;
    font-weight: bold;
}

.nav-user-button{
    padding: 8px;
    font-size: 15px;
    border-radius: 50%;
    background-color: #DA262E;
}


.link-red-user-button{
    height: max-content;
    margin: auto;
}

.nav-logo{
    height: max-content;
    margin: auto 0;
}

/* mobile menu */


#mainbox{
    position: absolute;
    color: #2B465A;
    top: 31px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
    cursor: pointer;
}

.sidemenu{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a{
    padding: 20px 8px 20px 8px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: #02558B;
    display: block;
    text-align: center;
}

.sidemenu a:hover{
    color: black;
}

.closebtn{
    color: black!important;
}

.sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

/* mobile */

.mobile-flex{
    height: 100%;
    position: relative;
}

#mobile-menu{
    display: none;
    height: 117px;
}

.mobile-menu-link{
    margin-top: 20vh;
}

.logo-mobile{
    margin: 10vh auto;
    width: 85%;
}


.logo-mobile-img{
    width: 100%;

}

/* Responsive */

@media (max-width: 800px){

    #laptop-menu{
        display: none;
    }

    #mobile-menu{
        display: block;
    }
    
}


@media (max-width: 450px){

    .logo-mobile-img{
        width: 70%;
    
    }
    
}