/*general*/



/*header*/

.products-header{
    background: url("../img/rectangle9.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 376px;
}

.products-h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 33%;
    bottom: 0;
    left: 11%;
    margin: auto;
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    display: inline-table;
}

.products-h1::after{
    content: "";
    position: absolute;
    width: 129px;
    height: 2px;
    background: #FFFFFF;
    bottom: 15px;
    margin-left: 20px;
}

.image-product {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 2;
    margin-top: -15vh;
    width: 100%;
    height: 57vh;
    filter: drop-shadow(0px 11px 52px rgba(0, 0, 0, 0.2));
}

#header_products{
    margin-bottom: 11vh;
}

.header-text-products{
    color: #2B465A;
    margin: 10vh auto 16vh;
    font-size: 24px;
    width: 76%;
    text-align: justify;
    font-weight: 500;
}

.products-video{
    z-index: 2;
    margin-top: -6vh;
    width: 100%;
    height: 441px;
}


#horizontale-video-products-circles{
    bottom: -25px;
    left: -50px;
}

/*technology*/
#product-tech-circles{
    right: -50px;
    bottom: -50px;
}

.techno-square-content{
        width: 449px;
        position: absolute;
        left: -17%;
        height: 359px;
}

.techno-square-laptop{
    height: 359px;
}

.techno-square{
    background: url("../img/rectangle25.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    width: 449px;
    height: 359px;
    left: 0;
}


#technology {
    margin: 7vh 0 12vh 0;
}

.technology-title{
    text-align: left;
    width: fit-content;
    margin-left: 16%;
}

.technology-title::after{
    content: "";
    position: absolute;
    width: 242px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: 20px;
}

#horizontale-technology-circles{
    bottom: 0;
    left: 3%;
}

.technology-text{
    margin: 3vh 0 10vh 5vh;
}

/*innovation*/

.innovation-title{
    margin-left: 16%;
}

.innovation-title::before{
    content: "";
    position: absolute;
    width: 76px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: -80px;
}

    .innovation-text-product {
        width: 72%;
        margin: 0 auto 0 5vw;
        padding-left: 0%;
    }

    #horizontale-recherche-content-circles{
        display: none;
    }
/*Our Products*/

#ourProducts{
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.ourproducts-title{
    margin-left: 10%;
    margin-bottom: 5vh;
}

.ourproducts-title::after{
    content: "";
    position: absolute;
    width: 242px;
    height: 2px;
    background: #D9272D;
    bottom: 15px;
    margin-left: 20px;
}

.grid-content {
    width: 80%;  
    margin: 0 auto; 
}

.grid-products{
    margin: 0 auto;
    display: grid;
    z-index: 3;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
    justify-content: center;
}

.item-products {
    position: relative;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    width: 300px;
    height: 300px; 
    border-top: 16px solid #9CDAEA;
    cursor: pointer;
    z-index: 3;
}

.product-text{
    padding: 10px;
    color: white;
}

.description-products{  
    background: linear-gradient(180deg, rgba(34,160,216,0) 0%, rgba(0,0,0,0.4234068627450981) 22%, rgba(0,0,0,0.6951155462184874) 65%);
    color: white;
    bottom: 0;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
}

.item-products:hover .description-products{
    display: block;
    height: 35%;
}

#horizontale-products-content-circles{
    top: -50px;
    right: -50px;
    z-index: 0;
}

/* mobile */
.techno-square-mobile{
    display:none;   
}
/* responsive */

@media (max-width: 1500px){
    #horizontale-video-products-circles {
        bottom: 10px;
        left: -50px;
    }
}


@media (max-width: 1237px){

    #horizontale-video-products-circles{
        bottom: 12px;
    }

    .grid-products{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 1146px){
    
    .technology-text {
        margin: 3vh 0 10vh 15vh;
    }

}

@media (max-width: 1146px){

    .technology-text {
        margin: 3vh 0 10vh 22vh;
    }
}

@media (max-width: 1040px){

    #horizontale-video-products-circles{
        bottom: 15px;
    }
}

@media (max-width: 992px){
    #horizontale-video-products-circles{
        bottom: -51px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: max-content;
    }

    .products-h1{
        font-size: 60px;
    }
    

    #horizontale-recherche-content-circles{
        display: block;
        bottom: 0;
        right: -144px;
    }
}

@media (max-width: 992px){

    #technology {
        margin: 7vh 0 5vh 0;
    }

    .products-header {
        height: 202px;
    }

    .image-product {
        margin-top: 0vh;
        height: 55vh;
    }

    .header-text-products {
        margin: 10vh auto 5vh;
    }

    .technology-title {
        margin-left: 21%;
    }

    .techno-square-laptop {
        display:none;
    }

    .techno-square-mobile{
        display:block;   
    }


    #product-tech-circles-mobile{
        top: 37%;
        left: -144px;
    }

    .innovation-title {
        margin-left: 16%;
        text-align: right;
    }

    .innovation-title::before {
        margin-left: -142px;
    }

    .innovation-text-product {
        width: 79%;
        margin: 0 auto 0 5vw;
        text-align: justify;
    }    

    .technology-text {
        margin: 0vh 2vw 2vh 10vw;
        text-align: justify;
    }

    #horizontale-products-content-circles{
        display: none;
    }
}

@media (max-width: 980px){
    .grid-products{
        grid-template-columns:  1fr 1fr 1fr; 
    }
    
    .item-products {
        width: 250px; 
        height: 250px; 
    }



}

@media (max-width: 790px){
    .grid-products {
        grid-template-columns: 1fr 1fr;
    }
    .item-products {
        width: 250px;
        height: 250px; 
    }

    .image-product {
        margin-top: 0vh;
        height: 50vh;
    }
}

@media (max-width: 532px){

    .products-h1 {
        font-size: 47px;
        left: 8%;
    }

    .image-product {
        margin-top: 0vh;
        height: 38vh;
    }

    .grid-products{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 5px; 
    }

    .item-products {
        width: 170px;
        height: 170px; 
    }

    .product-text {
        font-size: 9px;
    }
}

@media (max-width: 400px){

    .image-product {
        margin-top: 0vh;
        height: 30vh;
    }

}